.wrapper {
  box-shadow: 0 1px 4px rgb(0 21 41 / 8%);
  padding: 0 10px;
  height: 3.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .collapseButton{
    &:hover{
      cursor: pointer;
    }
  }
  .title{
    color: #97a8be;
  }
}
