.wrapper {
  background-color: skyblue;
  padding: 0 10px;
  height: 3.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .collapseButton{
    &:hover{
      cursor: pointer;
    }
  }
}
