* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*::before,*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#app{
    height: 100vh;
    width: 100vw;
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
a{
    color: inherit;
    text-decoration: none;
}

/* 实现方式二 */
/* 默认值：light */
:root {
    --theme-bg: #fff;
    --theme-color: rgb(51, 50, 50);
    --theme-img-bg: #fff;
    --theme-boder-color: #d6d6d6;
}

/* 暗黑：dark */
[data-theme='dark'] {
    --theme-bg: rgb(51, 50, 50);
    --theme-color: #fff;
    --theme-boder-color: #fff;
}